@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@font-face{
    font-family: "calibre";
    src: url(./fonts/calibri.ttf);
}

* {
    direction: rtl;
    list-style: none;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;

    min-width: 270px;

    background-color: rgb(219, 220, 220);
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(219, 220, 220);

}

h1 {
    order: 1;
    text-align: center;

    margin-top: 80px;
    margin-bottom: 0;

    font-family: "Rubik","calibre", sans-serif ;
    font-weight: normal;

}

span {
    /* كلمة "تواصل" في العنوان الاول  */
    color: red;
    font-weight: bold;
}

header h2 {
    order: 2;
    text-align: center;

    margin-top: 15px;
    margin-bottom: 5px;

    font-family: "Rubik","calibre", sans-serif ;
    font-weight: normal;

}
header button:nth-of-type(1) {
    /* زر القائمة الرئيسية  */
    align-self: flex-start;
    position: fixed;
    top: 30px;
    right: 15px;

display: none;

    width: 40px;
    height: 40px;

    padding-top: 5px;

    background-color: green;
    border-radius: 50%;
    border: 0px;
}

header nav button:nth-of-type(1) {
    /* زر اغلاق القائمة الرئيسية */

    position: fixed;
    top: 30px;
    right: 15px;


    width: 40px;
    height: 40px;

    background-color: green;
    border-radius: 50%;
    border: 0px;

}



nav {
    /* القائمة الرئيسية ()*/
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    /* align-items: center; */
    order: 3;
    position: absolute;
    /* display:none; */

    width: 100vw;
    min-width: 600px;

    /* padding-bottom: 900px; */
    /* padding-top: 300px; */


    background-color: rgba(44, 177, 3, 0.999);
}

nav a {
   
    margin: 15px;

    color: rgb(255, 255, 255);

    font-weight: 500;
    font-size: x-large;
    font-family: "Rubik","calibre", sans-serif ;

    transition: all 0.2s ;
}
nav a:nth-last-of-type(1){
    text-decoration: underline;
    text-decoration-thickness: 3px ;
    text-underline-offset: 10px;
}
nav a:hover{
    transform: scale(1.1);
}

main p {
    /*   النص الرئيسي  */
    text-align: center;

    width: 110%;
    min-width: 256px;
    max-width: 750px;
    padding: 5px 20px;
    
    margin-top: 0;

    font-family: "Rubik","calibre", sans-serif ;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
fieldset{
display: flex;
flex-direction: column;
align-items: center;

width: 60%;
max-width: 770px;

background-color: rgb(244, 244, 244);
border-radius: 10px;
}

fieldset > div:nth-of-type(1){
    display: flex;

    width: fit-content;

    gap: 10px;
}

fieldset > div:nth-of-type(1) div{
    display: flex;
    flex-direction: column;

    /* width: fit-content; */
}
fieldset div:nth-of-type(1) input {
    width: 160px;
    max-width: 160px;
    height: 25px;

    background-color: rgb(229, 226, 226);
    border-radius: 5px;
    border-style: none;
}
fieldset div > input {
    width: 335px;
    height: 25px;

    background-color: rgb(229, 226, 226);
    border-radius: 5px;
    border-style: none;
}
fieldset div > textarea{
    width: 335px;
    height: 75px;

    background-color: rgb(229, 226, 226);
    border-radius: 5px;
    border-style: none;

    resize: none;
}
input::placeholder,textarea::placeholder{
    font-family: "Rubik","calibre", sans-serif ;
}

label{
    margin: 2px 2px;
    font-family: "Rubik","calibre", sans-serif ;
}

fieldset> button{
    align-self: center;

    width: 100px;
    height: 30px;

    margin: 10px auto;

    background-color: rgba(215, 58, 58, 0.995);
    color: aliceblue;
    border-radius: 5px;
    border-style: none;

    font-size: medium;
    font-weight: 500;
    font-family: "Rubik","calibre", sans-serif ;

    cursor: pointer;
    transition: all 0.3s;
}
fieldset> button:hover{
    background-color: rgb(216, 20, 20);
    transform: scale(1.05);
}




footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 100px;

    background-color: rgb(44, 177, 3, 0.999);
}

footer>img {
    /* لوغو الموقع اسفل الصفحة */
    order: 0;
    position: relative;
    top: -65px;

    width: 130px;
    /* height: 130px; */

    border-radius: 50%;

    box-shadow: 0px 3px 7px 2px black;

}

footer ul {
    /* قائمة التواصل */
    order: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    top: -50px;


    padding: 0px;
}

footer a {
    /* تعدادات التواصل */
    display: flex ;
    justify-content: space-around ;
    align-items: center;


    width: 40px;
    height: 40px;

    margin: 0px 10px;

    border-radius: 50%;
    background-color: rgb(224, 15, 15);

    transition: all 0.2s ;
}
footer a:hover{
    transform: scale(1.1);
}

footer p {
    order: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    top: -50px;

    color: antiquewhite;

    font-weight: 300;
    font-family: "Rubik","calibre", sans-serif ;
}

 /* زر الذهاب للأعلى */
body>a{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -120px    ;
width: 45px;
height: 45px;

    background-color: rgba(137, 43, 226, 0.658);
    border-radius: 50%;
}
body>a img {
   
    width: 35px;
    height: 45px;

}

